@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.user-grid {
    @include grid-layout;

    &__card {
        width: 23vw;
        border-radius: 6px;
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    }

    &__img-container {
        width: 100%;
        height: 0;
        overflow: hidden;
        padding: 50% 0;
        position: relative;
        border-radius: 6px 6px 0 0;
    }

    &__img {
        @include grid-img;
    }

    &__details {
        padding: 0.5rem;
    }

    &__username {
        font-size: 1.5rem;
    }

    &__link {
        &:hover {
            color: $primary-accent;
        }
    }
}