@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-dark;
    color: $primary-accent;
    width: 100%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 0.75rem 1rem;
    // margin-bottom: 1.5rem;

    &__profile-container {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    }

    &__profile-img {
        min-width: 100%;
        min-height: 100%;
        max-width: 150%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        flex-grow: 2;
        font-size: 1.75rem;
        font-weight: 600;
        color: white;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        margin: 0.8rem 2rem 0 0;

        &--hidden {
            display: none;
        }
    }
}