// SASS PARTIALS
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

// GLOBAL STYLES

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0;
}

*:any-link {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

h1 {
    font-family: 'Vollkorn', serif;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

h2 {
    font-family: 'Vollkorn', serif;
    font-weight: normal;
    font-style: italic;
    margin: 0;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
}