@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.gallery {
    
    &__go-back {
        color: $primary-accent;
    }

    &__title {
        margin: 1rem 0;
    }

    &__view {
        @include grid-layout;
        margin-bottom: 3rem;
    }

    &__container {
        @include grid-img-container;
    }

    &__img {
        @include grid-img;
    }
}