@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.search-filters {
    width: 24vw;
    margin-right: 2rem;

    &__header {
        font-size: 1.5rem;
        margin-bottom: 0.75rem;
    }

    &__btn {
        padding: 0.5rem;
        margin: 1rem 1rem 1rem 0; 

        &--toggle {
            margin-top: 0;
        }

        &--clear {
           background: $secondary-dark;
           color: white;
        }
    }
}