@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.profile {
    padding: 2.5rem;

    &__details {
        background: $primary-light;
        display: flex;
        margin-bottom: 4rem;
        @include call-out;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__avatar {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 0 2.5rem 1rem 0;
    }

    &__avatar-img {
        @include grid-img;
    }

    &__stats {
        display: flex;
        flex-direction: column;
        width: 10rem;
        padding-top: 0.5rem;
    }

    &__stats-container{
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    &__icon {
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
    }

    &__user-info {
        width: 50vw;
        padding: 0.5rem 0;
    }

    &__label {
        margin-bottom: 0.5rem;
    }

    &__bio {
        margin-bottom: 2rem;
    }

    &__user-likes {
        margin-bottom: 2rem;
    }
}

.bookings {
    width: 9rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem;
    text-align: center;

    &--closed {
        background: $primary-dark;
        color: white;
    }

    &--open {
        background: #66DDAA;
        color: $primary-dark;
    }

    &--waitlist {
        background: $primary-accent;
        color: $primary-dark;
    }
}