@use './variables' as *;
@use './typography' as *;

// MEDIA QUERIES

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

// GRID

@mixin grid-layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.25rem;
}

@mixin grid-img-container {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 50% 0;
    position: relative;
    border-radius: 6px;
}

@mixin grid-img {
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    position: absolute;
    top: 0;
    left: 0;
}

// CTA BUTTON - CIRCLE

@mixin cta-circle {
    color: $primary-accent;
    border-radius: 50%;
    box-shadow: $layered-shadow;
}