@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-Regular.woff2') format('woff2'),
        url('../assets/fonts/Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-Regular.woff2') format('woff2'),
        url('../assets/fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Karla-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

